***********************************************************************
vbAccelerator S-Grid Demonstration
Copyright © 1999 Steve McMahon (redacted@example.com)
-----------------------------------------------------------------------
  Visit vbAccelerator - free, advanced source code for VB programmers
	             http://vbaccelerator.com
***********************************************************************

S-Grid is an all VB grid giving you the control other grids don't, and 
all in 260kb. Create Outlook-style grids, span column text across rows, 
freely set row and column heights, set colours and fonts for each cell, 
add icons to cells, sort and group data... 

This ZIP contains a demonstration project using the S-Grid control.

Dependencies
============
The S-Grid control is required to run this project. Download it from:
http://vbaccelerator.com/j-index.htm?url=codelib/sgrid/sgrid.htm

S-Grid requires SSubTmr.DLL to run. Download it from:
http://vbaccelerator.com/j-index.htm?url=codelib/ssubtmr/ssubtmr.htm

The demonstration project uses the vbAccelerator ImageList as an 
icon source.  Download it from:
http://vbaccelerator.com/j-index.htm?url=codelib/comctl/imglist.htm

**********************************************************************
Distribution notice:
You are free to distribute sgriddem.zip in it's original state to any
public www site, online service or BBS without explicitly obtaining
the author's permission. (Notification would be greatly appreciated
though!).

If you wish to distribute sgriddem.zip by any other means (i.e. if 
you want to include it on a CD or any other software media) then the
EXPRESS PERMISSION of the author is REQUIRED.

Please report any bugs to the author.
***********************************************************************
