***********************************************************************
vbAccelerator ImageList Control 1.4 Demonstraion (vbalilsd6.zip)
Copyright © 1998 Steve McMahon (redacted@example.com)
-----------------------------------------------------------------------
      Visit vbAccelerator - the VB programmer's resource - at
	             http://vbaccelerator.com
***********************************************************************

About the vbAccelerator Image List Control
This control provides an all VB image list control.  The control does
more than the COMCTL32.OCX version, but note it cannot be used with
other COMCTL32.OCX controls (e.g. TreeView, ListView etc).

Feature Highlights:
1) Add all the images to the image list in one go from a picture strip,
   either from a file or a resource bitmap.
2) Can Automatically determine the transparent colour (MaskColor in the
   MS COMCTL32.OCX version) for a bitmap from the top-left hand pixel.
3) Change the order of images or clear all images in the designer.
4) When adding images, you can default the keys to the file names of
   the files you are adding.
5) Draw selected, cut and disabled image styles.
6) Also available as a lightweight class to incorporate directly 
   into your project.
7) Add .BMP, .GIF, .ICO, .CUR and .ANI files.  With animated cursors
   you can choose to import all frames or just the first one.

Installation Requirements
vbalilsd6 requires Visual Basic 6 with at least Service Pack 6 applied 
and the vbAccelerator VB6 Image List control (available from 
http://vbaccelerator.com)

**********************************************************************
Distribution notice:
You are free to distribute vbalilsd6.zip in it's original state to any
public WWW site, online service or BBS without explicitly obtaining
the authors permission. (Notification would be greatly appreciated
though!).

If you wish to distribute vbalilsd6.zip by any other means (i.e. if 
you want to include it on a CD or any other software media) then the
EXPRESS PERMISSION of the author is REQUIRED.
***********************************************************************
